<%= content_for :page_title, 'GolfTouro - Rules' %>
<!-- Page Contents -->
<div class="pusher">
	<div class="ui vertical masthead center aligned segment">


		<div class="ui text container">
			<h1 class="ui horizontal divider header">
				<i class="file text icon"></i>
				Rules
			</h1>
		</div>

	</div>
</div>

<h2 class="ui  header">The Tour League and Event Rules</h2>
<div class="ui  stacked segment">
<h3 class="h3 ui header">
	<b><%= semantic_icon('minus') %>Leage Fee: $100</b><br>
	<b><%= semantic_icon('minus') %>Event Fee: $20(per event)</b><br>
	<b><%= semantic_icon('minus') %>Everyone pays their own event green fee, this isn't included in the league fee.</b><br>
</h3>
</div>
<p><b>League fee</b>- will go towards the championship payout (top three get paid out), the $21 per person software fee and miscellananeous expenses. Final figures to be accounced when league is finalized.</p>

<p><b>Event Fees</b>- will be split 50% to event winners and 50% to skins minus $20 to longest drive and $20 to closest to the pin.</p>

<h2 class="ui header">League Rules</h2>

<p><b>1) Don't be an asshole.</b> This includes cheating, giving yourself a putt, moving a ball from behind a tree and not counting a stroke etc.</p>

<p><b>2) If you are putting for a score, you must putt it out.</b> This includes a potential skin, or scoring for Stableform style tournaments.</p>

<p><b>3) Keep pace of play</b> There will be a stack of foursomes in front and behind you so the rounds will be slower than you are used to. Don’t make this worse. If you can’t find your ball then stop hitting it out of bounds in the first place.
</p>

<p><b>4) Gambling and Drinking is welcome and encouraged,</b> but remember the first 3 rules.
</p>

<h2><b>Season Scoring:</b></h2>
<p>There are 7 scheduled  <a href="/tournaments">events.</a></p>
<p>The 7th event, battle at the border, will be the championship event. Everyone can play, but only the top qualifying individuals will be competing for prize money.</p>
<p>Your top 4 Scores will be used for Championship Standings.</p>
<p>The more events you play, the more opportunity you have to maximize your standings (play all 6 and throw out your worst 2, or play only 4) </p>


<h2><b>Event Scoring:</b></h2>

<p>You will not be paired with the same person more than once per year.</p>
<p>Different Course each event.</p>
<p>Stats/Scores will be recorded. For example, you have the opportunity to defend your crown the following year if you win an event.</p>

<div class="pusher">
<h1 class="ui horizontal divider header">
	<i class="money text icon"></i>
	Money
</h1>
</div>
<h2>Ways to win Money:</h2>
<ol>
<li>Win Event</li>
<li> Win Skins (You vs. Field on every hole)</li>
<li>Place Top Three for Season Standings</li>
<li>Closest to the Pin/Longest Drive</li>
<li>Side Bets</li>
</ol>

<h2>Cheating:</h2>
<b>Don’t Cheat. If you get caught or multiple people report you, you will be asked to leave the tour.</b>

<h1 class="ui horizontal divider header">
	<i class="announcement text icon"></i>
	Event Format
</h1>

<p>Standard Match Play 9 Hole Opponent Swap<br>
Best Ball Stableford (Pair vs. Field)<br>
Best Ball Stroke Play<br>
Tour Cup Championship<br>
</p>







